@{
    ViewBag.Title = "ĐỔI MẬT KHẨU";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@ViewBag.Title</h2>

@using (Html.BeginForm())
{
    <p>@Html.ValidationSummary("", new { @class = "text-danger" })</p>
    <div class="form-group">
        @Html.Label("Mật khẩu cũ", new { @class = "col-md-2" })
        <div class="col-md-10">
            <input type="password" name="OldPass" class="form-control " />
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-2">
            @Html.Label("Mật khẩu mới")
        </div>
        <div class="col-md-10">
            <input type="password" name="NewPass" class="form-control " />
        </div>
    </div>
    <div class="form-group">
        @Html.Label("Xác nhận mật khẩu", new { @class = "col-md-2" })
        <div class="col-md-10">
            <input type="password" name="Repass" class="form-control " />
        </div>
    </div>
    <p><i>Yêu cầu mật khẩu có ít nhất 8 kí tự</i> </p>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Hoàn thành" class="btn btn-primary" />
        </div>
    </div>
}
