@model SchedureDTO.RegisterDTO

@{
    ViewBag.Title = "ĐĂNG KÍ";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using (Html.BeginForm())
{
    <h2>XÁC NHẬN THÔNG TIN ĐĂNG KÍ</h2>

    <h3>Thông tin bác sĩ</h3>
    <table>
        <tr>
            <td><img src="@Model.LichLamViec.Doctor.Avatar" /></td>
            <td>
                <ul style="padding-left: 10px">
                    <li>Chức danh: @(Model.LichLamViec.Doctor.ChucDanh?.Name)</li>
                    <li>Trình độ: @Model.LichLamViec.Doctor.Study</li>
                    <li>Giới thiệu: @Model.LichLamViec.Doctor.Sumary</li>
                </ul>
            </td>
        </tr>
    </table>

    <h3>Thông tin đăng kí</h3>
    <p>Thời gian đăng kí khám bệnh: @Model.LichLamViec.TimeSlot.HourStart - @Model.LichLamViec.TimeSlot.HourEnd</p>
    <div class="form-group">
        <label for="NgayKham">Ngày đăng kí khám bệnh</label>
        @Html.TextBoxFor(q => q.NgayKham, new { @class = "form-control", type = "date", min = DateTime.Now.AddDays(1).ToString("yyyy-MM-dd"), max = DateTime.Now.AddDays(14).ToString("yyyy-MM-dd"), placeholder = "Nhập số điện thoại liên hệ", required = "true" })
        <small id="NgayKham" class="form-text text-muted">Bắt buộc phải đăng ký trước 1 ngày. Tối đa là trong 2 tuần.</small>
    </div>

    <div class="form-group">
        <label for="Phone">Số điện thoại liên hệ</label>
        @Html.TextBoxFor(q => q.Phone, new { @class = "form-control", placeholder = "Nhập số điện thoại liên hệ", required = "true", pattern = @"\d{10,11}", Title = "Nhập chính xác số điện thoại!" })
        <small id="Phone" class="form-text text-muted">Vui lòng nhập đúng số điện thoại để chúng tôi có thể xác nhận!</small>
    </div>
    <div class="form-group">
        <label for="Message">Lời nhắn</label>
        @Html.TextAreaFor(q => q.Message, new { @class = "form-control", rows = "3" })
    </div>

    <button type="submit" class="btn btn-primary mb-2">ĐĂNG KÍ</button>
}