@model IEnumerable<SchedureDTO.RegisterDTO>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h3>LỊCH SỬ ĐĂNG KÍ KHÁM BỆNH</h3>
@using (Html.BeginForm())
{
    <div class="form-inline">
        <div class="form-group">
            <label for="exampleInputName2">Từ ngày</label>
            <input type="date" name="start" class="form-control" id="exampleInputName2" value="@ViewBag.s_start">
        </div>
        <div class="form-group">
            <label for="exampleInputEmail2">Đến ngày</label>
            <input type="date" name="end" class="form-control" id="exampleInputEmail2" value="@ViewBag.s_end">
        </div>
        <button type="submit" class="btn btn-success" style="margin-top: 25px">Xem</button>
    </div>
}
    <hr />
<table class="table table-bordered">
    <tr>
        <th>
            MÃ ĐĂNG KÍ
        </th>
        <th>
            THÔNG TIN BÁC SĨ
        </th>
        <th>
            NGÀY ĐĂNG KÍ
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.IDRegister)
        </td>
        <td>
            <ul>
                <li>Bác sĩ: <b>@(item.LichLamViec.Doctor.FullName)</b></li>
                <li>Phòng khám: @(item.LichLamViec.PhongKham?.TenPhongBan)</li>
                <li>Chuyên khoa: @(item.ChuyenKhoa.Name)</li>
            </ul>
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CreateDate)
        </td>
        <td>
            @switch (item.Status)
            {
                case "CONFIRM":
                    <b>Chờ duyệt</b>
                    <button onclick="cancleRegister(this,@item.IDRegister)" class="btn btn-warning">Hủy</button>
                    break;
                case "CANCLE":
                    <b>Đã hủy</b>
                    break;
                case "DONE":
                    <b>Đã khám</b>
                    break;
                case "CHOKHAM":
                    <b>Chờ khám</b>
                    break;
                default:
                    <b>@item.Status</b>
                    break;
            }
        </td>
    </tr>
    }
</table>

<script>
    function cancleRegister(target, id) {
        if (confirm("Bạn có muốn hủy đăng kí?")) {
            $.ajax({
                url: '@Url.Action("Cancle")',
                type: 'POST',
                data: { id: id },
                success: function (d) {
                    if (d) {
                        $(target).closest("tr").find(".Status").html("CANCLE");
                        $(target).closest("td").html("<b>Đã hủy</b>");
                    } else {
                        alert("Hủy thất bại");
                    }
                }
            });
        }
    }
</script>
